extends layout.pug

//- Mixins
mixin programs-card(image, name, description, href)
  li.splide__slide.group.p-4.transition.duration-500.ease-in-out.border.border-gray-100.rounded.w-full.hover_border.hover_border-blue-600.hover_bg-blue-50
    .inline-block.overflow-hidden.w-full
      img.h-36.w-full.object-cover.transition.duration-500.ease-in-out.group-hover_scale-110(src= image, alt="")
    h1.font-serif.font-bold.text-gray-700.text-xl.transition.duration-500.ease-in-out.group-hover_text-blue-700.my-4= name
    p.text-gray-500.mb-4= description
    a.text-blue-600.font-semibold.border-b-2.border-blue-600(href= href) Learn More

mixin resources-card(title, summary, href)
  .w-full.flex.flex-col.items-start.md_flex-row.md_items-center.md_justify-between.lg_flex-col.lg_items-start.lg_justify-start.group.p-4.rounded.transition.duration-500.ease-in-out.border.border-gray-200.hover_border-blue-100.hover_bg-blue-100
    .flex.flex-col.items-start
      h1.font-bold.text-gray-700.text-lg.mb-4= title
      p.text-gray-500.mb-4.md_mb-0.lg_mb-4= summary
    a.flex.items-center.p-2.rounded-full.border.text-blue-500.group-hover_text-white.group-hover_bg-blue-600.transition.duration-500.ease-in-out(href= href): span.material-icons-round chevron_right

mixin events-card(title, image)
  a.block.group.flex.flex-col.items-center(href="#")
    img.h-44.w-full.object-cover.mb-2(src= image, alt="")
    p.text-center.text-gray-700.group-hover_text-blue-700.font-semibold= title

block content
  //- Go To Top FAB
  //- a.flex.items-center.fixed.bottom-6.right-6.z-30.bg-blue-700.text-white.p-2.rounded-full.hover_animate-pulse(href="#", title="Go To Top"): span.material-icons-round north
  //- Hero Section
  section#hero.p-4.sm_px-10.flex.flex-col.justify-center.items-start
    p.uppercase.text-2xl.text-white.mb-5 Welcome to
    p.uppercase.mb-3.text-4xl.text-white.font-bold Central Calcutta Polytechnic
    p.mb-8.text-lg.text-white.md_max-w-sm.lg_max-w-md Central Calcutta Polytechnic is a government polytechnic college in the city of Kolkata, West Bengal in India. It is affiliated with the West Bengal State Council of Technical Education, approved by All India Council for Technical Education and provides diploma level technical education to its students.
    button.px-6.py-4.bg-blue-600.text-white.hover_ring Get Started Now
  //- From Principal Section
  //- Programs Section
  section.p-4.sm_px-10.py-8.flex.flex-col.items-center
    h1.uppercase.text-2xl.font-serif.font-bold.text-gray-700.mb-3 Programs We Offer
    p.text-gray-500.text-center.mb-6 We provide diploma courses recognised by AICTE and WBSCTE and useful for student's future.
    .splide.w-full
      .splide__track
        ul.splide__list
          +programs-card("./assets/ME.jpeg", "Mechanical Engineering", "Intake Capacity: 60 | Course Duration: 3 Years", "#")
          +programs-card("./assets/EE.jpeg", "Electrical Engineering", "Intake Capacity: 60 | Course Duration: 3 Years", "#")
          +programs-card("./assets/CST.jpeg", "Computer Science and Technology", "Intake Capacity: 60 | Course Duration: 3 Years", "#")
          +programs-card("./assets/ECE.jpeg", "Electronics and Telecommunication Engineering", "Intake Capacity: 60 | Course Duration: 3 Years", "#")
          +programs-card("./assets/PMED.jpeg", "Post Diploma in Medical Electronics", "Intake Capacity: 15 | Course Duration: IDK", "#")
          +programs-card("./assets/ME.jpeg", "Mechanical Engineering (part-time)", "Intake Capacity: 60 | Course Duration: 3 Years", "#")
          +programs-card("./assets/EE.jpeg", "Electrical Engineering (part-time)", "Intake Capacity: 60 | Course Duration: 3 Years", "#")
          +programs-card("./assets/ECE.jpeg", "Electronics and Telecommunication Engineering (part-time)", "Intake Capacity: 60 | Course Duration: 3 Years", "#")

  //- Essential Resources Section
  section.bg-blue-50.p-4.sm_px-10.py-8.grid.gap-6.grid-cols-1.lg_grid-cols-2
    div
      h1.uppercase.text-2xl.font-serif.font-bold.text-gray-700.mb-3 Essential Resources
      p.text-gray-500 Some resources for newcomers to help them to know us better.
      div.w-full.grid.grid-cols-1.gap-3.mt-6.lg_grid-cols-3
        //- Card
        +resources-card("For First Years", "All the first year freshers have to donate a total of Rs.2000/-(one time) to Cultural Committee for Cultural Festive & Development Purposes", "#")
        +resources-card("Tuition & Fees", "1) Tuition Fee Structure of Govt. / Central Govt. / Govt. Spons. Institutions: Rs.50/- per month 2) Tuition Fee Structure of Self-Financed (Private) Institutions: - through JEXPO/VOCLET counseling: Rs.1,500/mo", "#")
        +resources-card("Huge Library", "The Library is having a collection of more than 3.5 Lakh documents, subscribing about 100+ print journals, and providing access to over 26,000+ online full- text journals", "#")

    img.h-36.lg_h-full.w-full.object-cover(src="./assets/StudentWell.jpg", alt="Student Wellbeing")
  //- Events Section
  section.p-4.sm_px-10.py-8
    .flex.items-center.justify-between.mb-3
      h1.uppercase.text-2xl.font-serif.font-bold.text-gray-700 Events @ CCP
      a.block.text-blue-700.border-b-2.border-blue-700(href="#") More Events
    .w-full.grid.grid-cols-1.gap-3.sm_grid-cols-2.lg_grid-cols-3
      +events-card("Biswakarma Puja", "./assets/Biswakarma-Puja.png")
      +events-card("Fresher's Party", "./assets/Freshers.jpg")
      +events-card("Annual Function", "./assets/AnnualFunction.png")

  .space-y-4
  //- Our Partners Section
